.pre-loader {
    background-color: #2c3e50;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    left: 0;
    top: 0;
}

.sk-fading-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -2.3s;
    animation-delay: -2.3s;
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -2.1s;
    animation-delay: -2.1s;
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -1.9s;
    animation-delay: -1.9s;
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -1.7s;
    animation-delay: -1.7s;
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

.wrapper {
    width: 1170px;
    margin: 2px;
}

body {
    margin: 0;
    padding: 0;
    --primary: rgb(17, 169, 196);
    --secondary: white;
    --box-background: #33383b;
    overflow-x: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), transparent;
}

.main {
    max-height: 550px;
    ;
    background-color: #757575;
    color: white;
    font-size: 38pt;
    text-align: center;
    line-height: 550px;
}

footer {
    /*position: fixed;*/
    bottom: 0;
}

.footer_main {
    background-color: var(--primary);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer_main .footer-left,
.footer_main .footer-center,
.footer_main .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer_main .footer-left {
    width: 40%;
}

.footer_main h3 {
    color: var(--secondary);
    font: normal 36px 'sans-serif';
    font-weight: 500;
    margin: 0;
}

.footer_main .footer-links {
    color: var(--secondary);
    margin: 20px 0 12px;
    padding: 0;
}

.footer_main .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer_main .footer-company-name {
    color: var(--secondary);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer_main .footer-center {
    width: 35%;
}

.footer_main .footer-center i {
    background-color: var(--box-background);
    color: var(--secondary);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer_main .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer_main .footer-center p {
    display: inline-block;
    color: var(--secondary);
    vertical-align: middle;
    margin: 0;
}

.footer_main .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer_main .footer-center p a {
    color: var(--secondary);
    text-decoration: none;
    ;
}

.footer_main .footer-right {
    width: 20%;
}

.footer_main .footer-company-about {
    line-height: 20px;
    color: var(--secondary);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer_main .footer-company-about span {
    display: block;
    color: var(--secondary);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer_main .footer-icons {
    margin-top: 25px;
}

.footer_main .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: var(--box-background);
    border-radius: 2px;
    font-size: 20px;
    color: var(--secondary);
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer_main {
        font: bold 14px sans-serif;
    }
    .footer_main .footer-left,
    .footer_main .footer-center,
    .footer_main .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer_main .footer-center i {
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }
}

#main-body {
    /* position: relative; */
    height: 60vh;
    width: 65%;
    margin: 20px;
    text-align: center;
    display: inline-block;
    overflow: scroll;
    overflow-x: hidden;
}

#main-body::-webkit-scrollbar {
    background: transparent;
    /* width: 0px; */
}

.slider {
    overflow: hidden;
    height: 400px;
    width: 700px;
    position: relative;
    margin-left: 200px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 25px;
    /* z-index: -1; */
}

.slider figure div {
    float: left;
    width: 20%;
    /* z-index: -1; */
}

.slider figure img {
    width: 100%;
    float: left;
    height: 400px;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0;
    animation: 20s slide infinite;
}

@keyframes slide {
    0% {
        left: 0%;
    }
    10% {
        left: 0%;
    }
    12% {
        left: -100%;
    }
    22% {
        left: -100%;
    }
    24% {
        left: -200%;
    }
    34% {
        left: -200%;
    }
    36% {
        left: -300%;
    }
    46% {
        left: -300%;
    }
    48% {
        left: -400%;
    }
    58% {
        left: -400%;
    }
    60% {
        left: -300%;
    }
    72% {
        left: -200%;
    }
    82% {
        left: -200%;
    }
    84% {
        left: -100%;
    }
    94% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

.vertical-menu {
    width: 350px;
    height: 450px;
    /*overflow-y: auto;    */
}

.sidebar {
    position: absolute;
    height: 60vh;
    width: 800px;
    margin-top: -15px;
    padding: 5px;
    /*margin-left: -56px;*/
    display: inline-block;
    padding-top: 25px;
}

.welcome {
    text-align: center;
    font-size: 50px;
}


/* /////////////////////////////// */

.sideBox {
    position: absolute;
    height: 60vh;
    width: 800px;
    margin-top: -15px;
    padding: 5px;
    /*margin-left: -56px;*/
    display: inline-block;
    padding-top: 25px;
}

.sideBox h2 {
    padding: 0;
    margin: 0;
    color: white;
}

.sideBox h3 {
    padding: 0;
    margin: 0;
    color: white;
}

#close {
    float: right;
    display: inline-block;
    padding: 2px 5px;
    background: silver;
    cursor: pointer;
}

.down1 {
    position: absolute;
    font-size: 12px;
    font-family: tahoma;
    height: 85px;
    width: 400px;
    border: 1px solid #ccc;
    background-color: rgb(15, 169, 196);
    /* color: white; */
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}


/* /////////// submit box */

.box1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Location of the box */
    left: 10px;
    top: 20px;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
}

.Submit-content {
    background-color: rgb(114, 218, 236);
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(180, 57, 57);
    width: 80%;
}


/* The Close Button */

.closeX {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeX:hover,
.closeX:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* .changing{
      color:white;
  } */