body{
	background-image: url("investor.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 600px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
	
}

.pre-loader {
    background-color: #2c3e50;
    position: fixed;
    height: 100%;
    width: 100%;
z-index:10;
    left: 0;
    top: 0;
}
.sk-fading-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}
.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}
.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -2.3s;
    animation-delay: -2.3s;
}
.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
}
.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -2.1s;
    animation-delay: -2.1s;
}
.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}
.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -1.9s;
    animation-delay: -1.9s;
}
.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
}
.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -1.7s;
    animation-delay: -1.7s;
}
.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
}
.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}
.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
}
@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
@keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}



.loginbox{
    width: 320px;
    height: 420px;
    background:silver;
    color: black;
    top: 50%;
    left: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}


.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
}
.loginbox a:hover
{
    color:#ffc107;
}

#click{
    margin-top: 20px;
    margin-left: 60px; 
    height:40px;
    width: 120px;
   background: teal;
   color:white;
   font-size: 18px;
   border-radius: 20px;

    

}
#click:hover{
   cursor:pointer;
   background: #733db1;
   color:black; 
}

.check{
    margin-left: 70px; 
}

/*  Thanks for visiting div css */

